networks:
  proxy:
    external: true

services:
  dashy:
    image: docker.io/lissy93/dashy:latest
    container_name: dashy
    volumes:
      - ${CONFIG_LOCATION}:/app/public
    environment:
      - NODE_ENV=production
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dashy.entrypoints=https"
      - "traefik.http.routers.dashy.rule=Host(`dash.${DOMAIN}`)"
      - "traefik.http.routers.dashy.tls=true"
      - "traefik.http.routers.dashy.tls.certresolver=cloudflare"
      - "traefik.http.routers.dashy.tls.domains[0].main=${DOMAIN}"
      - "traefik.http.routers.dashy.tls.domains[0].sans=*.${DOMAIN}"
      - "traefik.http.services.dashy.loadbalancer.server.port=8080"
      - "traefik.docker.network=proxy"
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - proxy
