pageInfo:
  title: Homeserver
  description: ''
  navLinks:
    - title: GitHub
      path: https://github.com/Lissy93/dashy
    - title: Documentation
      path: https://dashy.to/docs
appConfig:
  theme: glass
  layout: horizontal
  iconSize: large
sections:
  - name: Apps
    icon: fas fa-rocket
    items:
      - &ref_0
        title: Paperless
        icon: >-
          https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/svg/paperless.svg
        url: https://paperless.varshavskyi.com
        target: newtab
        id: 0_404_paperless
      - &ref_1
        title: Grafana
        icon: >-
          https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/svg/grafana.svg
        url: https://grafana.varshavskyi.com/d/ef1rf5wmbcjcwb/docker-monitoring
        target: newtab
        id: 1_404_grafana
      - &ref_2
        title: Photos
        icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/svg/immich.svg
        url: https://photos.varshavskyi.com/
        target: newtab
        id: 2_404_photos
      - &ref_3
        title: Traefik
        icon: >-
          https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/svg/traefik-proxy.svg
        url: https://traefik.varshavskyi.com/dashboard/
        target: newtab
        id: 3_404_traefik
      - &ref_4
        title: Budget
        icon: >-
          https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/svg/actual-budget.svg
        url: https://budget.varshavskyi.com/
        target: newtab
        id: 4_404_budget
      - &ref_5
        title: N8N
        icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/svg/n8n.svg
        url: https://n8n.varshavskyi.com/
        target: newtab
        id: 5_404_nn
    displayData:
      sortBy: default
      rows: 1
      cols: 1
      collapsed: false
      hideForGuests: false
    filteredItems:
      - *ref_0
      - *ref_1
      - *ref_2
      - *ref_3
      - *ref_4
      - *ref_5
